@charset "UTF-8";

        /* Declarações Gerais */
        @media all {
            *{
                margin: 0px;
                padding: 0px;
                font-family: Arial, Helvetica, sans-serif;
            }
    
            html, body{
                width: 100%;
                height: 100%;
                background-color: #233eff;
                background-size: contain;
                background-repeat: no-repeat;
            }
    
            h1{
                color: white;
                text-shadow: 2px 2px 0px #1526a7;
                padding: 10px;
            }
        }

        /* Declarações retrato */
        @media screen and (orientation: portrait) {
            body{
                background-image: url(../mq02/images/cev-portrait.jpg);
                background-position: center bottom;
            }
        }

        /* Declarações retrato */
        @media screen and (orientation: landscape) {
            body{
                background-image: url(../mq02/images/cev-landscape.jpg);
                background-position: left bottom;
            }
        }